
.agilephd {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  
  .pm_image {
    max-width: 75%;
  
  }
  
  .scrum {
    background-image:   url("pictures/background.jpg");
    background-size:    cover;                      
    background-repeat:  no-repeat;
    background-position: center center;
    background-color:   #000000;
    color:              #510000;
    min-height:         500px;
  /*  opacity:            .5;*/
  }
  
  .scrum_h1 {
  /*  background-color:   #D3D3D3;*/
    color:              #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  /*  opacity:            1;*/
  }
  
  p, h1, h2, h3 {color:white;}

  #topthing {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;}

  .top-bar {
    background-color: #330000;
  }

  body {
    background-color: #510000;
  }
  