
.agilephd {
  font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }

  .pm_image {
    max-width: 75%;
  
  }
  
  .scrum {
    background-image:   url("pictures/background.jpg");
    background-size:    cover;                      
    background-repeat:  no-repeat;
    background-position: center center;
    background-color:   #000000;
    color:              #510000;
    min-height:         500px;
  /*  opacity:            .5;*/
  }
  
  .scrum_h1 {
  /*  background-color:   #D3D3D3;*/
    color:              #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
  /*  opacity:            1;*/
  }
  
  p, h1, h2, h3 {color:white;}

  #topthing {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .top-bar {
    background-color: #330000;
  }

  body {
    background-image: url("pictures/back_index.jpg");
    font-family: 'Comic Neue', sans-serif;
    font-size: 17px;
    text-shadow: 1px 1px 2px black;
  }

  h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 2px black;
  }

  a {
    color: aqua;
    font-weight: bold;
  }

  #riddlethree {
    color: lawngreen;
    font-weight: bold;
  }

  #epicgifs {
    font-family: 'Black Ops One', sans-serif;
    font-size: 65px;
    text-shadow: 3px 3px 20px black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .epicgifs {
    width: 1024px;
    height: 400px;
  }

  .epicgifs2 {
    width: 1024px;
    height: 550px;
  }

  #linx:hover {
    border-color: gold;
  }

  #deleteme {
    border-color: rgb(12,7,5);
  }

  #containerofsorts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .firegif {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 135px;
    display: block;
  }

  @media only screen and (max-width: 600px) {
    #epicgifs {
      font-size: 32px;
      width: 400px;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;}
    ul.menu {
      background-color: #330000;}
    #gridcontainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row: 1 / 4;
      justify-content: center;
    }
    .epicgifs {
      width: 400px;
      height: 133px;
    }
    .epicgifs2 {
      width: 400px;
      height: 183px;
    }
  }
